body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

.App {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

img {
  background: black;
  width: 100%;
  min-height: 240px;
  object-fit: contain;
}

.timer {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: rgba(0, 98, 185, 1);
  animation: timer linear infinite forwards;
}

@keyframes timer {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
